<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <title>bate-papo ajax</title>
</head>

<body>
    <div>
        <br/> Hora do servidor: <label type="text" size="10" id="hora" />
    </div>
    <ul style="width:700px; height:400px; overflow: auto;" id="mural"></ul>
    <form id="form_dados" action="">
        <br/> Nome: <input type="text" size="10" id="nome" /> Mensagem: <input type="text" size="30" id="mensagem" autocomplete="off" />
        <button>Enviar</button>
    </form>
    <!-- Como serão utilizados elementos da prórpria página no functions então o arquivo só 
         poderá ser carregado após a página ser renderizada -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/index_functions.js" type="text/javascript"></script>
</body>

</html>